body {
  margin: 0;
  font-size: initial;
}

* {
  box-sizing: border-box;
}
header {
  background-color: rgba(0, 0, 255, 0.1);
  text-align: center;
  padding: 10px 0;
}

section {
  padding: 50px;
}
section:nth-child(even) {
  background-color: rgba(0, 0, 255, 0.1);
}
section:nth-child(odd) {
  background-color: rgba(0, 255, 0, 0.1);
}

ul {
  display: flex;
  background-color: lightgrey;
  margin-bottom: 20px;
  list-style:none;
  padding: 0;
}

li {
  padding: 0.5em;
  background-color: grey;
  text-align: center;
  color: white;
  text-transform: uppercase;
  margin: 10px;
}

.row1 {
  flex-direction: row; /* comportement natif */
}

.row2 {
  flex-direction: column;
}

.row3 {
  flex-wrap: nowrap; /* comportement natif */
}

.row4 {
  flex-wrap: wrap;
}

.row5 {
  flex-flow: row wrap;
}

.row6 {
  justify-content: flex-start;
}

.row7 {
  justify-content: flex-end;
}

.row8 {
  justify-content: center;
}

.row9 {
  justify-content: space-between;
}

.row10 {
  justify-content: space-around;
}

.row11 {
  align-items: flex-start;
  height: 100px;
}

.row12 {
  align-items: flex-end;
  height: 100px;
}

.row13 {
  align-items: center;
  height: 100px;
}

.row14 {
  align-items: stretch;
  height: 100px;
}

.row15,
.row16 {
  height: 100px;
}
.row15 li:first-of-type,
.row16 li:first-of-type {
  padding-top: 25px;
}
.row15 li:last-of-type,
.row16 li:last-of-type {
  padding-top: 50px;
}
.row16 {
  align-items: baseline;
}

.alignContent ul {
  height: 200px;
}
.alignContent li {
  height: 50px;
  width: 30%;
}

.row17 {
  align-content: flex-start;
}
.row18 {
  align-content: flex-end;
}
.row19 {
  align-content: center;
}
.row20 {
  align-content: space-between;
}
.row21 {
  align-content: space-around;
}
.row22 {
  align-content: stretch;
}
.wrap {
  flex-wrap: wrap;
}
