body {
  margin: 0;
  font-size: initial;
}

* {
  box-sizing: border-box;
}

main {
  padding: 50px;
}

section {
  display: flex;
  background-color: lightgrey;
  margin-bottom: 20px;
}

article {
  padding: 0.5em;
  background-color: grey;
  text-align: center;
  color: white;
  text-transform: uppercase;
  margin: 10px;
}

.row1 {
  flex-direction: row; /* comportement natif */
}

.row2 {
  flex-direction: column;
}

.row3 {
  flex-wrap: nowrap; /* comportement natif */
}

.row4 {
  flex-wrap: wrap;
}

.row5 {
  flex-flow: row wrap;
}
